@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

body {
  font-family: 'Caveat', cursive;
}
/* SpinImage.css */
.spin-container {
  perspective: 1000px;
  width: 200px; /* Adjust the size of the container as needed */
  height: 200px;
}

.spinning-image {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: spin 10s linear infinite; /* Adjust the animation duration as needed */
}

@keyframes spin {
  from {
    transform: rotateY(0deg) rotateX(0deg);
  }
  to {
    transform: rotateY(360deg) rotateX(360deg);
  }
}
p {
  font-family: "Comfortaa", sans-serif;
  
  
    /* For a darker, more muted red, you might use something like: */
    /* background-color: #8B0000; */ /* Dark red */
  }
  @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Quicksand:wght@300..700&display=swap');
  span,h2,h1,option ,div,button{
    font-family: "Comfortaa", sans-serif;
    
    
      /* For a darker, more muted red, you might use something like: */
      /* background-color: #8B0000; */ /* Dark red */
    }


    