@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

body {
  font-family: 'Caveat', cursive;
}
/* SpinImage.css */
.spin-container {
  perspective: 1000px;
  width: 200px; /* Adjust the size of the container as needed */
  height: 200px;
}

.spinning-image {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: spin 10s linear infinite; /* Adjust the animation duration as needed */
}

@keyframes spin {
  from {
    transform: rotateY(0deg) rotateX(0deg);
  }
  to {
    transform: rotateY(360deg) rotateX(360deg);
  }
}
p {
  font-family: "Comfortaa", sans-serif;
  
  
    /* For a darker, more muted red, you might use something like: */
    /* background-color: #8B0000; */ /* Dark red */
  }
  @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Quicksand:wght@300..700&display=swap');
  span,h2,h1,option ,div,button{
    font-family: "Comfortaa", sans-serif;
    
    
      /* For a darker, more muted red, you might use something like: */
      /* background-color: #8B0000; */ /* Dark red */
    }


    

    .FormGroup {
      margin: 0 15px 20px;
      padding: 0;
      border-style: none;
      background-color: #7795f8;
      will-change: opacity, transform;
      box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #829fff;
      border-radius: 4px;
    }
    
    .FormRow {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      margin-left: 15px;
      border-top: 1px solid #819efc;
    }
    
    .StripeElement--webkit-autofill {
      background: transparent !important;
    }
    
    .StripeElement {
      width: 100%;
      padding: 11px 15px 11px 0;
    }
    
  
    h1,
    h3 {
      text-align: center;
    }/* Payment Form container styling */
.FormGroup {
  margin: 0 auto;
  padding: 20px;
  background-color: #c9c2c0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  max-width: 400px;
}

.FormRow {
  display: block;
  margin: 20px 0;
}

/* Card element and button styling */
.CardElement {
  background-color: rgb(51, 49, 49);
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #191818;
  display: block;
  width: 100%;
  color: #1a1a1b;
}

.ppay {
  background-color: #464a5d;
  color: #fdfbfb;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(140, 140, 187, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all 0.2s ease;
}

.ppay:hover {
  background-color: #4b77d0;
}

/* Success message styling */
.success-message {
  text-align: center;
  padding: 20px;
  background-color: #335372;
  color: #4caf50;
  border-radius: 8px;
  margin-top: 20px;
}
