html {
  scroll-snap-type: y mandatory;
}

.app {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 1500px;
  background-color: black;
  margin-right: 100px;
  
}

.app__top {
  margin-bottom: -20px;
}

.app__top > h1 {
  text-align: center;
  color: white;
}

.app__logo {
  height: 12vh;
}

.app__videos {
  position: relative;
  height: 75vh;
  background-color: white;
  width: 70%;
  border-radius: 20px;
  max-width: 450px;
  max-height: 1200px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.app__videos::-webkit-scrollbar {
  display: none;
}


.app__commentBoxOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  display: flex;
  
  justify-content: center;
  align-items: center;
}

.app__commentBox {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 90%;
  max-width: 500px; /* or any other max-width */
}

/* Additional styles for the comment input and buttons as necessary */
.app__controls {
  background-color: black;
  width: 1500px;
  margin-top: -5px;
  margin-left: -465px;
  /* other styles for positioning, padding, etc. */
}
