.videoFooter {
  position: relative;
  margin-left: 20px;
  bottom: 100px;
  font-size: 10px;
}

.videoFooter__text {
  position: absolute;
  bottom: 0;
  color: rgb(75, 57, 57);
  display: flex;
  margin-bottom: 20px;
}

.videoFooter__text > h3 {
  margin-left: 10px;
  padding-bottom: 20px;
}

.videoFooter__text > h3 > button {
  color: rgb(52, 20, 20);
  font-weight: 900;
  text-transform: inherit;
}

.videoFooter__actions {
  display: flex;
  position: absolute;
  width: 95%;
  color: rgb(161, 39, 39);
  justify-content: space-between;
}

.videoFooter__actionsLeft > .MuiSvgIcon-root {
  padding: 0 10px;
}

.videoFooter__actionsRight {
  display: flex;
}

.videoFooter__stat {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.videoFooter__stat > p {
  margin-left: 3px;
}

.videoFooter__ticker > .ticker {
  height: fit-content;
  margin-left: 30px;
  margin-bottom: 20px;
  width: 60%;
}

.videoFooter__icon {
  position: absolute;
  left: 5px;
  color: rgb(80, 33, 33);
}

.videoFooter__ticker h1 {
  padding-top: 7px;
  font-size: 12px;
  color: rgb(94, 39, 39);
}

.animated-text_reels {
  animation: 5s ease-out 0s 1 slideInFromLeft;
}


.videoFooter__comments {
  position: absolute; /* Position it relative to the parent */
  top: 0;            /* Align to the top */
  right: 0;          /* Align to the right */
  width: 300px;      /* Give it a fixed width, you can adjust this */
  height: 100%;      /* Full height */
  background-color: rgba(17, 15, 15, 0.9); /* Semi-transparent white background */
  padding: 20px;     /* Some padding */
  box-sizing: border-box; /* So padding doesn't add to width */
  overflow-y: auto;  /* Allow scrolling if content is tall */
  transform: translateX(100%); /* Start off-screen */
  transition: transform 0.3s ease-in-out; /* Animate the sidebar */
 
  display: none; /* by default, the comment box is not displayed */



}

.videoFooter__comments--visible {
  background-color: rgba(253, 242, 242, 0.9); /* Semi-transparent white background */
    display: block; /* when this class is added, the comment box will display */

  margin-left: 1500px;
  
 
}

/* Style for individual comment entries */
.videoFooter__commentEntry {
  margin-bottom: 10px; /* Spacing between comments */
}
